<div class="row row-cols-1 g-4">
    <div class="container-list">
      <div class="col" *ngFor="let user of user3">
          <esang-card>
              <ng-container data-header>
                  <h5 class="card-code">
                      <span class="badge bg-secondary  rounded-pill">{{ user.code }}</span>
                  </h5>
              </ng-container>
  
              <ng-container data-body>
                <p class="card-fullname">
                  {{ user.name }}
                  {{ user.surname }}
                </p>
              </ng-container>
            </esang-card>
          </div>
        </div>
        </div>